html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style: circle;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

img {
    width: 100%;
}