@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.about {
    img {
        height: 500px;
        object-fit: cover;
    }
    .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 580px;
        margin: 0 auto;
        text-align: center;
        .intro {
            width: inherit;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: baseline;
            margin: 3rem 0;
            p {
                padding: 0;
                color: rgb(107, 16, 164);
                font-weight: 700;
            }
            span {
                color: rgb(107, 16, 164);
            }
        }
        p {
            padding: 2rem;
            font-size: 2rem;
        }
        .btns {
            display: flex;
            a {
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1rem 3rem;
                margin: 3rem 2rem 0 2rem;
                background-color: rgb(107, 16, 164);
                color: white;

                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}