@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.about {
    h1 {
        font-size: 3rem;
        text-align: center;
        color: v.$second-c;
        span {
            color: v.$primary-c;
        }
        font-weight: 700;

        @include m.tablet {
            font-size: 5rem;
        }
    }
    .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 580px;
        margin: 0 auto;
        color: #33186B;
        p {
            padding: 2rem;
            font-size: 1.8rem;
            text-align: center;
            @include m.tablet {
                font-size: 2rem;
            }
        }
        .btn {
            display: flex;
            a {
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1rem 3rem;
                margin: 3rem 2rem 0 2rem;
                background-color: v.$second-c;
                border-radius: 20rem;
                color: v.$white;
                transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
                &:hover {
                    transform: translateY(-10px);
                    background-color: v.$primary-c;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}