@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.skills {
    height: fit-content;
    margin: 10rem 0;
    h2 {
        text-align: center;
    }
    hr {
        border: 1px solid v.$p-color;
    }
    section {
        width: 100%;
        text-align: center;
        h3 {
            color: v.$p-color;
            margin-bottom: 2rem;
            font-size: 2rem;
            @include m.tablet {
                font-size: 2.5rem;
            }
        }
        margin: 3.5rem;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media screen and (max-width: 560px) {
                grid-template-columns: repeat(1, 1fr);
            }
            li {
                display: flex;
                justify-content: center;
                @include m.tablet {
                    justify-content: start;
                }
                align-items: center;
                padding: 2rem;
                font-size: 1.7rem;
                svg {
                    margin-right: 2rem;
                    font-size: 3rem;
                }
                @include m.tablet {
                    font-size: 2rem;
                }
            }
        }
    }
}